.container {
  display: flex;
  justify-content: center;
  background-color: #bbd2c5;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #121111;
  width: 500px;
  background-color: #bbd2c5;
  padding: 15px;
  margin-bottom: 5px;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #121111;
  width: 500px;
  background-color: #bbd2c5;
  padding: 15px;
  margin-bottom: 5px;
  text-align: center;
}

p {
  text-align: center;
  justify-content: center;
  text-justify: auto;
  margin-right: 15px;
}

img {
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(35, 15, 35);
}

.border {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  margin-top: 1px;
}
